@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan');

body
{
	background-color : #85BAFE;
}

img
{
	display: block;
	margin-left: auto;
   	margin-right: auto;
}

h1
{
	text-align : center;
	color: navy;
	font-family: Baloo Chettan;
	font-size: 225%;
}

input[type=id], input[type=password]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button[type=login] {
  background-color: #3366FF;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
button[type=register] {
  background-color: blue;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.container {
  padding: 16px;
}


