@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan');

body
{
	background-color : #85BAFE;
}

h1
{

	text-align : center;
	color: navy;
	font-family: Baloo Chettan;
	font-size: 300%;
	margin-top: 5%;
}

#logo
{
	display : block;
	height: 13%;
	width: 13%;
	margin-left: 2%;
	margin-top: -13%;
}

h2
{
	text-align : center;
	color: gray;
	font-family: Baloo Chettan;
	font-size: 200%;
	margin-top: -4%;
}

a
{
	text-align : center;
	color: gray;
	font-family: Baloo Chettan;
	font-size: 200%;
	margin-top: -3%;
}

#heart
{
	display: block;
	width: 5%;
	height: 5%;
}

